.catalog{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  list-style: none;
  height: calc(100% - 160px);
  overflow-y: auto;
}

.catalog h1{
  text-align: center;
  color:azure;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}