.catalog{
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  list-style: none;
  height: calc(100% - 200px);
  overflow-y: auto;
}

.type{
  text-align: center;
  color:azure;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}