.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  background-color:rgb(0, 129, 119);
  margin: auto;
  padding: 20px;
}
.mainPage{
  text-decoration: none;
  font-size: 35px;
  font-family:'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
}

.buttons {
  text-decoration: none;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  background-color:rgb(0, 129, 119);
  border: none;
  color: white;
}

.navContainer {
  position: relative;
}

.navigation {
  z-index : 9999;
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  margin: 0;
  padding: 20px 0 20px 0;
}

.navigationItem{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 30px;
  font-style:oblique;
  color: white;
}